<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Document</title>
</head>
<body>
<h1>Edit Document</h1>

<a th:href="@{/document/list}">Back to Document List</a>

<form th:action="@{/document/edit/{id}(id=${document.id})}" th:object="${document}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>
    <br>
    <div>
        <label for="year">Year:</label>
        <input type="date" id="year" th:field="*{year}">
        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</span>
    </div>
    <br>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span>
    </div>
    <br>
    <div>
        <label for="type">Type:</label>
        <select id="type" th:field="*{type}">
            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
        </select>
        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type.name}">Type Error</span>
    </div>
    <br>
    <button type="submit">Update</button>
</form>

</body>
</html>